@app-padding: 20px;
@row_height: 70px;

@brand-primary: #800000;
@brand-success: #5cb85c;
@brand-info: #8A9045;
@brand-warning: #47B5FF;
@brand-danger: #FF3399;

.container {
  .panel {
    padding: @app-padding;
  }
}

.row {
  min-height: @row_height;
}

.columns {
  background-color:@brand-warning;
  border:solid black 1px;
  color:black;
}



.color-background {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    .columns;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    .columns;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-8, .col-md-7, .col-md-6, .col-md-5,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    .columns;
  }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
  .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5,
  .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    .columns;
  }
}

.nav {
  @media (max-width: 768px) {
    li {
      padding-left:15px;
    }
  }
}