/* Operations */
@base: 5%;
@filler: @base * 2;
@other: @base + @filler;

/* yields 6px */
@var: 1px + 5;

@base-color: green;
@dark-color: darken(@base-color, 10%);

#menu {
  color: #888 / 4;
  background-color: @base-color + #111;
  height: 100% / 2 + @filler;
}