
/* Scope */
@var: red;

#page {
  @var: white;
  #header {
    color: @var; // white
  }
}

/* Example 1 */
.lazy-eval {
  width: @var;
}

@var: @a;
@a: 9%;

/* Example 2 */
.lazy-eval-scope {
  width: @var;
  @a: 9%;
}

@var: @a;
@a: 100%;

/* Both Yield

.lazy-eval-scope {
  width: 9%;
}

*/

/* Example 3 */
@var: 0;
.class {
  @var: 1;
  .brass {
    @var: 2;
    three: @var;
    @var: 3;
  }
  one: @var;
}

/*
When defining a variable twice, the last
definition of the variable is used, searching
from the current scope upwards. This is similar
to css itself where the last property inside
a definition is used to determine the value.
*/

/*
.class {
  one: 1;
}
.class .brass {
  three: 3;
}
*/