<div class="container">
    <div class="jumbotron">
        <h1>AngularJS Demo</h1>
        <p>This site is a single page AngularJS app</p>
        <p>Check out Angular here:<a href="https://angularjs.org"> angularjs.org</a>!</p>
    </div>

    <div class="panel panel-default" id="forms">
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                    <input ng-model="something" type="text" class="form-control" id="exampleInputEmail" placeholder="{{placeholder}}">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel panel-default">
        <p>Your email: <span> {{something}} </span></p>
    </div>
</div>